<!DOCTYPE html>
<html>
<head>
  <title>Nesselsburg</title>
  <%= stylesheet_link_tag 'hrad' %>
  <%= javascript_include_tag 'hrad' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tags %>
</head>
<body>
<div id="menu">
<ul class="side-nav">
  <li><a href="#" id="nadvori">Nádvoří</a></li>
  <li><a href="#" id="dilna">Dílna</a></li>
  <li class="divider"></li>
  <li><%= link_to 'odhlásit se', logout_path, method: :delete %></li>
  <li><%= link_to 'odejít', brana_path %></li>
</ul>
</div>

<div id="container"></div>

<%= templates_bundle 'hrad' %>

</body>
</html>
