<!DOCTYPE html>
<html>
<head>
  <title>Nesselsburg</title>
  <%= stylesheet_link_tag 'hrad' %>
  <%= javascript_include_tag 'hrad' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tags %>
</head>
<body>
<div id="menu">
  <div id="logo">
    MENU
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>uživatel: <%= current_user && current_user.username %>
  <br/><%= link_to 'odhlásit se', logout_path, method: :delete %>
  <br/><%= link_to 'odejít', brana_path %>
</div>

<div id="content"></div>

</body>
</html>
