<% attach_threejs { ['dilna/posun_blok'] } %>
<% content_for :naradi, stylesheet_link_tag('games/posun_blok') %>
<div style="float: left">
  <div id="game_container"></div>
  <div id="printout"></div>
</div>
<div style="float: left">
  <div id="menu_bar">
    <span>
      <%= radio_button_tag 'mod', 'hra' %> Hra
    </span>
    <span>
      <%= radio_button_tag 'mod', 'editor' %> Editor
    </span>
  </div>
  <div id="menu_container">
    <div class="mod_panel" id="mod_panel_hra" style="display: none">
      <ul>
        <li data-level="1">První level</li>
      </ul>
    </div>
    <div class="mod_panel" id="mod_panel_editor" style="display: none">
      zatím nic :p

      <%= radio_button_tag 'akce', 'nic', true %> Nic
      <br/><%= radio_button_tag 'akce', 'podlaha' %> Podlaha:
      <%= select_tag 'podlaha', options_for_select([['prázdno',0],['hlína',1],['cíl',2]]) %>
      <br/><%= radio_button_tag 'akce', 'blok' %> Blok:
      <%= select_tag 'blok', options_for_select([['prázdno',0],['bedna',2],['kámen',3]]) %>
    </div>
  </div>
</div>
