<!DOCTYPE html>
<html>
<head>
  <title>Nesselsburg</title>
  <%= stylesheet_link_tag 'hrad' %>
  <%= javascript_include_tag 'hrad' %>
  <script src="https://ajax.googleapis.com/ajax/libs/threejs/r69/three.min.js"></script>
  <%= content_for :hrad_head %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="menu">
  <%= render partial: '/menu' %>
</div>
<div id="content">
  <%= yield %>
</div>
</body>
</html>
